DATABASE_URL="postgresql://postgres.xfgvoqjmieaqvzuyvoog:54g-%26-8-V%3FyYNcA%21fg@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?sslmode=no-verify&pgbouncer=true"

# the old database url is below
# DATABASE_URL=postgresql+psycopg://USER:PASSWORD@localhost:5432/techfin
SECRET_KEY=change-me-in-production
RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_YAHOO_FINANCE_HOST=yahoo-finance15.p.rapidapi.com
REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_client_secret
REDDIT_USER_AGENT=TechFin/1.0 by YourRedditUsername
